<form [formGroup]="form" (ngSubmit)="login($event)">
	<mat-card>
		<mat-card-title>Login</mat-card-title>
		<mat-card-content class="login-content">
			<div class="row">
				<div class="col-xs">
					<mat-form-field>
						<input type="text" placeholder="Correo" matInput formControlName="email" />
						<mat-error *ngIf="emailField?.hasError('required')">
								El correo electrónico es requerido
						</mat-error>
						<mat-error *ngIf="emailField?.hasError('email')">
								El correo no tiene un formato válido
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-xs">
					<mat-form-field>
						<input type="password" placeholder="Contraseña" matInput formControlName="password" />
						<mat-error *ngIf="passwordField?.hasError('required')">
							La contraseña es requerida
						</mat-error>
						<mat-error *ngIf="passwordField?.hasError('minlength')">
							La contraseña debe tener mínimo 7 caracteres
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions class="end-xs">
			<button type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
		</mat-card-actions>
		<mat-card-footer>
			<mat-progress-bar
          class="example-margin"
          color="primary"
          mode="indeterminate"
					*ngIf="showLoading">
      </mat-progress-bar>
		</mat-card-footer>
	</mat-card>
</form>
